@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

.gigg:hover{
    transition: all 2s;    
}
.mowe:hover{
    transform: translateY(-3px);
    border: 1px solid red;
}
.wave a{
    color: black;
    font-family: 'Poppins';
}
.wave a:hover{
    color: maroon;
}
.wave .btn:hover{
    border: 1px solid palevioletred;
}
.para__1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    
}
.para__12,.para__13{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.para__12:hover{
    color: maroon;
}
.para__13:hover{
    color: maroon;
}
.wack{
    background: #FEB71D;
    border-radius: 3px;
    padding: 2px .5rem 0 .5rem;
}
